<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AS Ideas Engineering - Mate Challenge 04</title>

    <link rel="stylesheet" type="text/css" media="all" href="//cdn.jsdelivr.net/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="//cdn.jsdelivr.net/metro-bootstrap/3.1.1.2/css/metro-bootstrap.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
    <script src="./lib/jquery-3.1.0.min.js"></script>

    <style>
        body {
            text-align: center;
        }

        .l-main {
            margin: auto;
            max-width: 960px;
            margin-top: 35vh;
        }

        .number-input {

        }
    </style>
</head>
<body>
<div class="l-main">
    <div>
        <h1>Complete the numbers:</h1>
    </div>
    <div>
        <input type="text" class="number-input" placeholder=""/>
    </div>
    <br/>
    <button onclick="checkNumbers()">FIRE!</button>
</div>
<script>
</script>
</body>
</html>