<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AS Ideas Engineering - Mate Challenge 04</title>

    <link rel="stylesheet" type="text/css" media="all" href="//cdn.jsdelivr.net/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="//cdn.jsdelivr.net/metro-bootstrap/3.1.1.2/css/metro-bootstrap.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
    <script src="./lib/jquery-3.1.0.min.js"></script>

    <style>
        body {
            text-align: center;
            background-color: #f2f1ec;
            top: 0;
        }

        .l-main {
            margin: auto;
            max-width: 760px;
            background-color: white;
        }

        .number-input {

        }
    </style>
</head>
<body>
<div class="l-main">
    <div>
        <h1>LaterPay</h1>
    </div>
    <div>
        <p>Wissenschaftler nennen das verwendete Verfahren Gene Drive. Kritiker haben einen anderen Namen dafür gefunden: Sie sprechen von einer "genetischen Atombombe", weil es sich hier um Gene handelt, die sich, einmal in Umlauf gebracht, wie bei einer nuklearen Kettenreaktion in natürlichen Populationen verbreiten.</p>

        <p>Gene Drive weckt somit große Hoffnungen und große Ängste. Falls die so manipulierten Mücken in die Freiheit entlassen werden, wäre es das erste Mal, dass der Mensch gezielt die Evolution zu lenken versucht, um die Natur in die Knie zu zwingen.</p>

    </div>
</div>
<script>
</script>
</body>
</html>